#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.form {
  flex: 1;
  display: flex;
  gap: 1rem;
  margin: 0 0 3rem;
  // .form__input
  &__input {
    width: 100%;
    padding: 0.5rem;
    outline: 1px solid grey;
    border-radius: 0.4rem;
  }
  &__btn {
    background-color: #d0e3fd;
  }
  // .form__error
  &__error {
    font-size: 0.8rem;
    position: absolute;
    bottom: -1.2rem;
    left: 0;
    color: red;
    margin: 0;
  }
}
