#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.form {
  flex: 1;
  display: flex;
  gap: 1rem;
  margin: 0 0 2rem;
  // .form__input
  &__input {
    width: 100%;
    padding: 0.5rem;
    outline: 1px solid grey;
    border-radius: 0.4rem;
  }
  &__btn {
    background-color: #d0e3fd;
  }
}
